{% load i18n %}
{% blocktranslate %}
You're receiving this email because you requested a password reset for your user account at {{ domain }}.
{% endblocktranslate %}

{% blocktranslate %}
Please click the link below and enter a new password:
{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}

{% blocktranslate %}
Your username, in case you’ve forgotten: {{ username }}
{% endblocktranslate %}

{% blocktranslate %}
Thanks for using our site!
{% endblocktranslate %}

The {{ domain }} team
