{% extends "posts/base.html" %}
{% load static %}

{% block title %}Reset Password Done{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'users/form-styles.css' %}">
{% endblock %}

{% block content %}
    {% if validlink %}
        <h2>Change Password</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <small class="text-danger">{{ field.errors }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}